body{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(233, 221, 49) 35%, rgba(2,0,36,1) 100%);
}

.heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.bookdata{
    display: grid;
    grid-template-columns: 184.89px 184.89px 184.89px 184.89px 60px;
    grid-template-rows: 40px auto;
    justify-content: start;
    row-gap: 40px;
    justify-content: center;
}

.books{
    display: grid;
    grid-column: 1/6;
}

.bookinfo{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
}

.abook{
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    background: linear-gradient(90deg, rgb(218, 147, 27) 0%, rgba(121,9,28,1) 0%, rgba(175,0,255,1) 55%);
    font-family: cursive;
    font-size: 1.3rem;
}